<o-form-layout-manager attr="WalkMonitoring" mode="tab" title="WALKMONITORING">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="WalkMonitoringTable" 
            service="WalkMonitoring" 
            entity="WalkMonitoring" 
            title="WALKMONITORING"
            keys="id"
            columns="id;walk_schedule_id;start_time;end_time;created_date;updated_date;created_by" 
            header-actions="R;D"
            visible-columns="id;walk_schedule_id;start_time;end_time;created_date;updated_date;created_by"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="walk_schedule_id" title="walk_schedule_id">
    <o-table-cell-renderer-service attr="walk_schedule_id" 
        service="WalkSchedule" entity="WalkScheduleType" columns="id;id"
        parent-keys="id:walk_schedule_id"
        value-column="id" keys="walk_schedule_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #start_time attr="start_time" title="start_time" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #end_time attr="end_time" title="end_time" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-date-input #created_date attr="created_date" type="timestamp" label="created_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-date-input #updated_date attr="updated_date" type="timestamp" label="updated_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #created_by attr="created_by" title="created_by" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>