<o-form-layout-manager attr="Payment" mode="tab" title="PAYMENT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PaymentTable" 
            service="Payment" 
            entity="Payment" 
            title="PAYMENT"
            keys="id"
            columns="id;owner_id;walk_schedule_id;walker_id;amount;status;created_date;updated_date;created_by;payment_method" 
            header-actions="R;D"
            visible-columns="id;owner_id;walk_schedule_id;walker_id;amount;status;created_date;updated_date;created_by;payment_method"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="owner_id" title="owner_id">
    <o-table-cell-renderer-service attr="owner_id" 
        service="Owner" entity="OwnerType" columns="id;name"
        parent-keys="id:owner_id"
        value-column="name" keys="owner_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="walk_schedule_id" title="walk_schedule_id">
    <o-table-cell-renderer-service attr="walk_schedule_id" 
        service="WalkSchedule" entity="WalkScheduleType" columns="id;id"
        parent-keys="id:walk_schedule_id"
        value-column="id" keys="walk_schedule_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="walker_id" title="walker_id">
    <o-table-cell-renderer-service attr="walker_id" 
        service="Walker" entity="WalkerType" columns="id;first_name"
        parent-keys="id:walker_id"
        value-column="first_name" keys="walker_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #amount attr="amount" title="amount" type="currency" editable="no" required="yes" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #status attr="status" title="status" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-date-input #created_date attr="created_date" type="timestamp" label="created_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-date-input #updated_date attr="updated_date" type="timestamp" label="updated_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #created_by attr="created_by" title="created_by" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #payment_method attr="payment_method" title="payment_method" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>